# Build folder
output/

.vscode
.venv

# Generated documentation folder
html/

# Generated executable
mmwave

/*.so
/mmwcas.c
/build
.DS_Store
/ir_timestamps/*
/rf_bins/
/rf_frame_timestamps/
/rpi_frame_timestamps/
/ti/mmwavestudio_reference/
__pycache__/
/PostProc/
/sweep_results/
/experiment-log/
/probe_results/
/logs/
/radar_configs/test/
/robotic_control/

dashboard/telegraf/.env
*_idx.bin
*_data.bin
*.mmwave.json
*timestamps.npy
*map.json
*.logs
.claude/settings.local.json
