# Build folder
output/

.vscode

# Generated documentation folder
html/

# Generated executable
mmwave

/*.so
/mmwcas.c
/build
.DS_Store
*.mmwave.json
/ir_timestamps/*
__pycache__/
/PostProc/*
dashboard/telegraf/.env
lua
