# Build folder
output/

.vscode
.venv

# Generated documentation folder
html/

# Generated executable
mmwave

/*.so
/mmwcas.c
/build
.DS_Store
/ir_timestamps/*
__pycache__/
dashboard/telegraf/.env

experiment-log/*
logs/*
/PostProc/*
*.mmwave.json

*_idx.bin
